form {
  display: grid;
  justify-items: center;
  margin: 2em;
}

form textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

header {
  z-index: 1300;
}
 header li {
   margin: 0 7px;
 }
 .register {
  z-index: 1300;
  position: relative;
 }

 .modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(158, 144, 249, 0.6);
}

.modal-main {
  display: block;
  position:fixed;
  border-radius: 10px;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#modal-background {
  background-color: rgba(158, 144, 249, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal h3 {
  text-align: center;
  margin: 0.5em 0;
}
.modal .modal-btn {
  border-radius: 100px;
  width: 2em;
  height: 2em;
  border: solid 3px #d998fb;
  margin: 0 20px 20px;
}
.modal .like-btn {
  border: none;
  margin: 5px;
}

.like-btn svg path{
  fill: red;
}
.login-btns {
  display: contents;
}
.navbar-nav li {
  font-size: 1.5em;
  border: solid 3px #75cff0;
  border-radius: 10px;
  padding: 0.2em;
  background-color: #bfeeff;
}
.nav-item svg {
  margin: 0 0 0 0.5em;
}
#new-message svg path{
  fill: pink;
  stroke: black;
  stroke-width: 30;
  stroke-linecap: round;
}
#all-likes svg path{
  fill: #e152ee;
}
#logout svg path{
  fill: #9326e1;
}
.all-likes{
  z-index: 2000;
  display: block;
  position:fixed;
  border-radius: 10px;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}